/* IMPOSTAZIONI GENERALI */
body {
  width: fit-content;
  margin: auto;
  background-image: url(../img/sfondo.png);
  font-family: "Poppins", sans-serif;
}

strong {
  color: #a61f6f;
  font-weight: bold;
}

dsc {
  font-weight: bold;
  font-style: italic;
}

/* HEADER */
.box {
  width: 380px;
  height: 314px;
  background: linear-gradient(
    180deg,
    rgba(75, 145, 209, 1) 0%,
    rgba(0, 119, 136, 1) 100%
  );
  padding: 30px;
  margin: 20px 20px;
  font-family: "Poppins";
  text-align: center;
  box-sizing: border-box;
  -webkit-box-shadow: 5px 5px 10px 0px #000000;
  -moz-box-shadow: 5px 5px 10px 0px #000000;
  -o-box-shadow: 5px 5px 10px 0px #000000;
  box-shadow: 5px 5px 10px 0px #000000;
}

.logo {
  width: 250px;
  height: auto;
}

.sub_logo {
  width: auto;
  height: auto;
  padding: 10px;
  margin: 30px 5px;
  text-align: center;
  box-sizing: border-box;
  color: #ffffff;
  font-size: medium;
  font-weight: bold;
}

.list {
  width: 100%;
  height: 100%;
  padding: auto;
  margin: auto auto;
  text-align: center;
  box-sizing: border-box;
  border-radius: 0;
  color: #ffffff;
  font-family: "Poppins";
  font-size: large;
  font-weight: bold;
  font-stretch: expanded;
}

/* MAIN */

.h1 {
  width: 100%;
  height: 100%;
  padding: auto;
  margin: auto auto;
  text-align: left;
  box-sizing: border-box;
  border-radius: 0;
  color: #000000;
  font-size: 2em;
  font-weight: bold;
}

.h2 {
  width: 100%;
  height: 100%;
  padding: auto;
  margin: auto auto;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
  color: #000000;
  font-size: 1.2em;
  font-weight: bold;
}

/* ELEMENTI NEL MAIN - ARTICLE */

.box_main {
  width: 380px;
  height: auto;
  background: white;
  padding: 30px;
  margin: 20px 20px;
  text-align: center;
  box-sizing: border-box;
  -webkit-box-shadow: 5px 5px 10px 0px #000000;
  -moz-box-shadow: 5px 5px 10px 0px #000000;
  -o-box-shadow: 5px 5px 10px 0px #000000;
  box-shadow: 5px 5px 10px 0px #000000;
}

.grey_sub {
  width: fit-content;
  height: fit-content;
  padding: 2em 0em 0em 0em;
  text-align: justify;
  box-sizing: border-box;
  color: #ab9da1;
}

.paragraph {
  width: fit-content;
  height: fit-content;
  padding: 2em 0em 0em 0em;
  text-align: left;
  box-sizing: border-box;
  color: #000000;
}

/* TABELLE */

table {
  font-size: 115%;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 1em 1em;
  border: 1px solid white;
  height: auto;
  line-height: 2.5em;
}

th {
  background-color: #316cbe;
  color: #ffffff;
  border: 1px solid;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}
tr:nth-child(even) {
  background-color: #efefef;
}

/* FORM */

/* ELEMENTI NELL' ASIDE */
.box_form {
  width: auto;
  height: auto;
  background: #dfe5e6;
  padding: 8%;
  text-align: center;
  box-sizing: border-box;
  border: #ab9da1;
}

.box_correlati {
  width: auto;
  height: auto;
  background: #dfe5e6;
  padding: 8%;
  text-align: center;
  box-sizing: border-box;
  border: #ab9da1;
}
/* FOOTER */

.box_footer {
  width: 380px;
  height: auto;
  background: rgb(0, 86, 101);
  background: linear-gradient(
    180deg,
    rgba(0, 86, 101, 1) 0%,
    rgba(44, 51, 56, 1) 100%
  );
  padding: 30px;
  margin: 20px 20px;
  color: white;
  text-align: center;
  box-sizing: border-box;
  -webkit-box-shadow: 5px 5px 10px 0px #000000;
  -moz-box-shadow: 5px 5px 10px 0px #000000;
  -o-box-shadow: 5px 5px 10px 0px #000000;
  box-shadow: 5px 5px 10px 0px #000000;
}
